/* General */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background: #0f172a;
    color: white;
}

/* Navbar */
header {
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    position: sticky;
    top: 0;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

header nav a:hover {
    color: #38bdf8;
}

/* Hero */
.hero {
    height: 90vh;
    background: url("https://images.unsplash.com/photo-1518770660439-4636190af475") no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    background: rgba(0,0,0,0.6);
    padding: 30px;
    border-radius: 10px;
    animation: fadeIn 2s ease;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: white;
}

/* Sections */
section {
    padding: 60px 20px;
    text-align: center;
}

/* Skills */
.skills-container span {
    display: inline-block;
    background: #1e293b;
    padding: 10px 15px;
    margin: 8px;
    border-radius: 8px;
    transition: 0.3s;
}

.skills-container span:hover {
    background: #38bdf8;
    color: black;
}


.project-card {
    background: #1e293b;
    margin: 20px auto;
    padding: 20px;
    width: 70%;
    border-radius: 12px;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #38bdf8;
}

.project-card a {
    color: #38bdf8;
    text-decoration: none;
}


.profile-links a {
    font-size: 30px;
    margin: 15px;
    color: white;
    transition: 0.3s;
}

.profile-links a:hover {
    color: #38bdf8;
    transform: scale(1.2);
}


footer {
    background: black;
    padding: 15px;
}

/* Animation */
@keyframes fadeIn {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}